:root {
    --background-primary: #0f0e17;
    --background-secondary: #f3d2c1;

    --stroke: #fffffe;
    --main: #a7a9be;
    --highlight: #ff8906;
    --secondary: #f25f4c;
    --tertiary: #e53170;

    /*Pallet https://www.happyhues.co/palettes/14*/
}

body {
    background-color: var(--background-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    color: var(--stroke);
}

footer {
    padding-right: 1rem;
}

.icon {
    color: white;
    opacity: .75;
}

.icon:hover {
    color: var(--highlight);
    opacity: .9;
}

.logo {
    width: 2rem;
}

.bsicon {
    color: #8c13fd;
}

.jsicon {
    color: #f7df1e;
}

.html5icon {
    color: #f16529;
}

.css3icon {
    color: #369cd6;
}

.checklist>li i {
    color: var(--highlight);
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.glass {
    background: rgb(167, 169, 190);
    background: linear-gradient(45deg, rgb(45, 45, 52) 0%, rgb(77, 77, 89) 100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}